{% extends './basic.html' %}

{% block css %}
<style>
    .col-md-3 {
        display: inline-block;
        margin-left: -4px;

    }

    .col-md-3 img {
        max-width: 355px;
        max-height: 255px;
    }

    body .carousel-indicator li {
        background-color: blue;
    }

    body .carousel-indicator .active {
        background-color: blue;
    }

    body .carousel-indicator {
        bottom: 0;
    }

    body .carousel-control-prev-icon,
    body .carousel-control-next-icon {
        background-color: blue;
    }


    .carousel-control-prev,
    .carousel-control-next {
        top: auto;
        bottom: auto;
        padding-top: 222px;
    }

    body .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
</style>
{% endblock %}


{% block body %}
{% load static %}
<div class="container">
    <!-- slideshow starts here -->
    {% for product, range, nSlides in allProds %}
    <h5class="my-4">Flash Sale on-{{ product.0.category }}--Recommended items</h5>
        <div class="row">
            <div id="demo{{ forloop.counter }}" class="col carousel slide my-3" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#demo{{ forloop.counter }}" data-slide-to="0" class="active"></li>

                    {% for i in range %}
                    <li data-target="#demo{{ forloop.parentloop.counter }}" data-slide-to="{{i}}"></li>
                    {% endfor %}
                </ul>


                <div class="container carousel-inner no-padding">
                    <div class="carousel-item active">

                        {% for i in product %}
                        <div class="col-xs-3 col-sm-3 col-md-3 ">
                            <div class="card mx-3" style="width: 18rem;">
                                <img class="card-img-top" src='/media/{{ i.image }}' alt=" Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ i.product_name }}</h5>
                                    <p class="card-text">{{ i.desc}slice:"0:53" }}...</p>
                                    <button id="pr{{ i.id }}" href="#" class="btn btn-primary cart">Add to cart</button>
                                    <button id="qv{{ i.id }}" href="/shop/products/{{ i.id }}/"
                                        class="btn btn-primary cart">QuickView</button>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and forloop.last %}
                    </div>
                    <div class="carousel-item">
                        {% endif %}
                        {% endfor %}
                    </div>

                </div>
                <!-- LEFT AND RIGHT CONTROLS FOR THE SLIDE  -->
            </div>
            <a href="#demo{{ forloop.counter }}" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon">

                </span>
            </a>

            <a href="#demo{{ forloop.counter }}" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon">

                </span>
            </a>
        </div>
        {% endfor %}
</div>
{% endblock %}


{% block js %}
<script>
    console.log("working");
    if (localStorage.getItem('cart') == null) {
        var cart = {

        }
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));

    }
    $('.cart').click(function () {
        console.log('clicked');
        var idstr = this.id.toString();
        if (cart[idstr] != undefined) {
            cart[idstr] = cart[idstr] + 1;
        } else {
            cart[idstr] = 1;
            document.getElementById('cart').innerHTML = Object.keys(cart).length;
        }
        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart').innerHTML = Object.keys(cart).length;

    })

    $('#popcart').popover()

    document.getElementById("popcart").setAttribute('data-content', '<h5> Cart for Your items in my shooping cart</h5>')
</script>
{% endblock %}