{% extends './basic.html' %}

{% block title %}{{ product.product_name }} us{% endblock %}

{% block body %}
{% load static %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="row">
                <img src="/media/{{ product.image }}" width="233px" height="385px">
            </div>
            <div class="row">
                <button class="btn btn-primary mx-3">Buy Now</button>
                <p><b>Rs.{{ product.price }}</b></p>
                <button class="btn btn-primary mx-3">Add To Cart</button>
            </div>
        </div>
        <div class="col-md-8">
            <h5>{{ product.product_name }}</h5>
            <p>{{ product.desc }}</p>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    console.log("working");
    if (localStorage.getItem('cart') == null) {
        var cart = {

        }
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));

    }
    $('.cart').click(function () {
        console.log('clicked');
        var idstr = this.id.toString();
        if (cart[idstr] != undefined) {
            cart[idstr] = cart[idstr] + 1;
        } else {
            cart[idstr] = 1;
            document.getElementById('cart').innerHTML = Object.keys(cart).length;
        }
        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart').innerHTML = Object.keys(cart).length;

    })

    $('#popcart').popover()

    document.getElementById("popcart").setAttribute('data-content', '<h5> Cart for Your items in my shooping cart</h5>')
</script>
{% endblock %}